﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<AppUser> SignInManager


@{
    ViewData["Title"] = "HR hub";
   
}

<div class="row align-items-center h-100 ">
    <div class="col-12 col-md-6 col-lg-5 order-last order-md-first">
        <div class="ms-5">


            <h1 class="heroTitle">
                all your <span class="texthighlight">Employees</span> into a single hub!
            </h1>

            <div class="subtitle">
                Monitor all active employees across various categories and locations within your organization!

                <div class="row mb-3">
                    <div class="col-12 text-end">
                        <a class="btn btn-danger rounded-pill" asp-controller="Shared" asp-action="HRhub">Demo it</a>
                    </div>
                </div>
                <br><br><strong>Built with pride using cutting edge tech:</strong>
                <br><i class="devicon-dot-net-plain-wordmark colored icon"></i>
                <i class="devicon-csharp-plain-wordmark colored icon"></i>
                <i class="devicon-microsoftsqlserver-plain-wordmark colored icon"></i>
                <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
                <i class="devicon-azure-plain colored icon"></i>




            </div>

        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-7 text-center">
        <img src="~/img/webOne.png" class="img-fluid">
       
       
    </div>
</div>