@model TeamTracker.Models.Department


@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="departments" asp-action="Create" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-12 col-lg-6 mt-3">
                <label asp-for="Locations" class="control-label"></label>
                <select name="locationIds" class="form-control" asp-items="ViewBag.LocationList" multiple></select>
            </div>

            <button type="submit" class="btn btn-primary">Create</button>
        </form>
</div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
