@model IEnumerable<TeamTracker.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>See All Departments</h1>

<div class="row">
    <div class="col-12 text-end mb-2">
        <a class="btn btn-primary rounded-pill" asp-action="Create">Create New</a>
    </div>
</div>
<div class="container">
    <div class="row g-3 justify-content-center">
        <div class="col-12 col-lg-10">
            <div class="row g-4">
                @foreach (var department in Model)
                {
                    <div class="col-12 col-md-6 navShadow">
                        <!-- Adjusted to take more space -->
                        <div class="card mb-3 rounded-pill" style="min-height: 250px;">
                            <!-- Set a minimum height for larger appearance -->
                            <div class="row g-1">
                                <div class="col-md-4 square-img-container rounded">
                                    <img src="/img/TT.png" class="square-img rounded-start" alt="TeamTracker Img" style="width: 100%; height: 100%;"> <!-- Ensure the image takes full width of the card -->
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <span class="fw-bold heroTitle2 me-2">@Html.DisplayFor(modelItem => department.Name)</span>
                                        <div class="card-text">
                                            <span class="fw-bold me-2">Details:</span>@Html.DisplayFor(modelItem => department.Name)
                                        </div>

                                        <div class="fs-2 mt-5 ">
                                            <a class="me-3 editIcons" asp-action="Edit" asp-route-id="@department.Id"><i class="bi bi-pencil-fill "></i></a>

                                            <a class="me-3 editIcons" asp-action="Delete" asp-route-id="@department.Id"><i class="bi bi-trash-fill text-danger "></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<a asp-action="Statistics" asp-controller="Home">
    <img src="~/img/button.jpg" alt="" style="width:40px;height:40px; border-radius:50%;" />
</a>